/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 a  {
	text-decoration: none;
	color: #09f;
	border: none;
}

a:hover {
	color: #09d;
	text-decoration: underline;
}


img {
	border: none;
}

html {
	background-color: white;
}

body {
    width: 100%;
    height: 100%;
	font-family: arial, Helvetica, sans-serif;
	/* The old syntax, deprecated, but still needed, prefixed, for WebKit-based and old browsers */
	background: -prefix-linear-gradient(top, white, #C9EAFF);
	/* The new syntax needed by standard-compliant browsers (Opera 12.1, IE 10, Fx 16 onwards), without prefix */
	background: linear-gradient(to bottom, white, #C9EAFF);

}

.active {
    color: #fff;
    text-decoration: underline;
}


.rounded {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}



/* syntax highlighting */
   /* this is the theme used to style the syntax highlighting on this page! */
    code {
        font-family: "Lucida Console", "Monaco", monospace;
    }

    pre {
        color: #fff;
        font-size: 13px;
        background: #000;
        padding: 10px;
        line-height: 18px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        word-wrap: break-word;
        margin-bottom: 15px;
    }

    code span {
        -moz-transition: color .8s ease-in;
        -o-transition: color .8s ease-in;
        -webkit-transition: color .8s ease-in;
        transition: color .8s ease-in;
    }

    .animate {
        color: #fff !important;
    }

    .red {
        color: #f50419;
    }

    .orange {
        color: #f57900;
    }

    .yellow {
        color: #f5e600;
    }

    .green {
        color: #00f50c;
    }

    .blue {
        color: #0081f5;
    }

    .indigo {
        color: #5000f5;
    }

    .violet {
        color: #7d05f5;
    }

    .comment {
        color: #223576;
    }

    .javascript .comment {
        color: #535353;
    }

    .meta, .entity {
        color: #f03200;
    }

    .support {
        color: #006dcf;
    }

    .string {
        color: #00f50c;
    }

    .string.regexp {
        color: #fff;
    }

    .support.attribute, .support.css-property, .support.regex.modifier {
        color: #0087ff;
    }

    .support.value {
        color: #1bbbcf;
    }

    .integer, .constant {
        color: #d8fa3c;
    }

    .keyword, .selector, .storage {
        color: #fbde2d;
    }

    .constant.regex.escape {
        color: #d8fa3c;
    }